* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-image: url("../images/436446888_1016487736765429_3959454371799771410_n.png"); */
    background-size: cover;
}

.box-login {
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 30px 0;
    border-radius: 20px;
}

.login-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
}

.box-input {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 0 30px;
    margin-bottom: 20px;
}

.box-input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 20px;
}

.box-input span {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-weight: 600;
    opacity: 0.4;
    font-size: 16px;
    transition: all 0.3s ease;
}

.box-input span.active {
    top: -10px;
    color: rgb(255, 0, 0);
}

.forgot-pass {
    opacity: 0.5;
    margin-left: 30px;
}

.btn-login {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    margin-top: 20px;
}

.btn-login button {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    background-color: #2691d9;
    color: #b2f3ff;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login button:hover {
    background-color: #569cff;
}

.register {
    text-align: center;
    margin-top: 20px;
}

.register a {
    text-decoration: none;
    color: #86b4ff;
}